@import '_imports.scss';
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $negro;
  h1{
    color: white;
    text-align: center;
    a{
      color: $rosado;
      text-decoration: none;
    }
  }
  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    width: 600px;
    min-height: 400px;
    padding: 2rem;
    box-sizing: border-box;
    @media screen and (max-width:599px) {
      width: 100%;
    }
  }
}